html {
	font-family: OpenSans, Calibri;
}


h1 {
  text-transform: uppercase;
  margin: 0;
}

.main-container {
	width: 100%;
	margin: auto;
}

.header-container {
  width: 100%;
  margin: auto;
  background-color: #1abc9c;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  font-size: 2.3em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.header-container-padding {
  height: 6em;
}

.score-container {
  height: 2.5em;
  font-weight: 700;
  border: 0;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  position: relative;
}

.current-score {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1abc9c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.score-text {
  z-index: 10;
  position: inherit;
  color: #FFFFFF;
  margin: auto;
}


.math-question-container {
  /*background-color: #d35400;*/
}

.center-text {
	text-align: center;
}

.math-question {
  margin: 0 0 0 0;
  font-size: 10em;
}

input[type=text] {
  border-top: 3px solid #1abc9c;
  border-left: 0;
  border-right: 0;
  height: 1.5em;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

input[type=submit] {
  display: none;
  font-family: OpenSans;
  font-weight: 700;
  border: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: #FFFFFF;
	width: 100%;
	background-color: #1abc9c;
}

input[type=button] {
  margin-top: .25em;
  width: 100%;
  font-family: OpenSans;
  font-weight: 700;
  border: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #1abc9c;
}

input.focus-button, input.focus-button:hover{
  background-color: #0d5d4d;
}

input[type=submit].hover:hover, input[type=button].hover:hover{
  background-color: #107360;
}

textarea:focus, input:focus{
    outline: 0;
}

.option-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
}

.button-container {
  -webkit-order: 0;
  -webkit-flex: 1 1 auto;
  -webkit-align-self: center;
  padding-left: 4px;
}

.button-container:first-child {
  padding-left: 0;
}

::-webkit-input-placeholder {
   color: #bdc3c7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bdc3c7;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bdc3c7;
}

:-ms-input-placeholder {
   color: #bdc3c7;
}